body {
    text-align:center;
}
h1 {
    font-size:40px;
    font-family: 'Permanent Marker', cursive;
}
#app {
    background-color: darkcyan;
}
#myCarousel {
    background-color: aquamarine;
}
#chatbot {
    background-color: blueviolet;
}
.line {
    height:6px;
    background-color: crimson;
    width:70px;
    margin:8px auto;
}
#myCarousel img {
   height:300px;
   margin-top:35px;
}
.carousel-inner p {
   margin-top:15px;
   color: darkblue;
   font-size:20px;
}